.app-title {
  text-align: center;
}

.has-error {
  border-color: red;
}

.has-success {
  border-color: green;
}

body {
  font-family: 'Raleway', sans-serif;
  /*background-color: #F7FFF7;*/
}

.login-button, .sref-link {
  display: flex;
  justify-content: center;
}

.sref-link {
  margin-top: 15px;
}

.btn-primary {
  background-color: #596157;
}

.navbar-default {
  background-color: #222222;
}
