.App {
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #DAD7CD;
}

li {
  border-radius: 10px;
}

.btn-primary {
  background-color: #596157;
}

.navbar-default {
  background-color: #222222;
}

/*NEW SESSION*/

.TimeInput-QuestionContainer {
  margin-bottom: 30px;
  /*background-color: #A0AAB2;*/
  /*border: 1px dashed red;*/
}
