.App {
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #DAD7CD;
}

li {
  border-radius: 10px;
}

.btn-primary {
  background-color: #596157;
  border-color: #596157;
}

.navbar-default {
  background-color: #222222;
}

.alert {
  text-align: center;
  background-color: #d3c6c0;
  border-color: #B7A196;
}

.alert-info {
  color: #F7F9F9;
}

.form-control {
  padding: 3px 5px;
}

.input-group-lg>.form-control {
  padding: 3px 5px;
}
